<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>账单查询</string>
		<key>sectionRows</key>
		<array>
			<dict>
				<key>rowTitle</key>
				<string>在线账单</string>
				<key>isPush</key>
				<true/>
				<key>pushVCID</key>
				<string>amOL_VC</string>
			</dict>
			<dict>
				<key>rowTitle</key>
				<string>本地账单</string>
				<key>isPush</key>
				<true/>
				<key>pushVCID</key>
				<string>localApplyListVCID</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>账单设置</string>
		<key>sectionRows</key>
		<array>
			<dict>
				<key>rowTitle</key>
				<string>同步账单</string>
				<key>isPush</key>
				<false/>
				<key>pushVCID</key>
				<string>none</string>
			</dict>
			<dict>
				<key>rowTitle</key>
				<string>清空本地账单</string>
				<key>isPush</key>
				<false/>
				<key>pushVCID</key>
				<string>none</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
